<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&display=swap" rel="stylesheet">
  <title>Scribbler</title>
</head>
<body>
    <%- include('partials/header') %>
    <main>    
        <section class="hero">
            <h1>SCRIBBLER</h1> <!--improve responsiveness of the scribbler h1-->
            <p class="p-box">Unleash your creativity and let your words make waves.</p>
        </section>
    </main>
    <hr>
    <%- include('partials/footer.ejs') %>
</body>
</html>
